.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input,
  textarea {
    background: #1a1a1a;
    border: 1px solid rgba(255,255,255,0.15);
    padding: .7rem;
    border-radius: 6px;
    color: white;
  }

  button {
    background: var(--color-highlight);
    border: none;

    &:hover {
      background: var(--color-accent);
      color: black;
    }
  }
}