.flip-scale-up-hor {
  -webkit-animation: flip-scale-up-hor 0.5s linear both;
  animation: flip-scale-up-hor 0.5s linear both;
}

@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(0);
  }
}

@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(0);
  }
}


.flip-scale-down-diag-2 {
	-webkit-animation: flip-scale-down-diag-2 0.5s linear both;
	        animation: flip-scale-down-diag-2 0.5s linear both;
}

@-webkit-keyframes flip-scale-down-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
            transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
}
@keyframes flip-scale-down-diag-2 {
  0% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
            transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
            transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
}


/* ----------------------------------------------
* Generated by Gradienty on 2025-12-06 18:26
* animation vibrate-3-normal
* ----------------------------------------
*/
  @keyframes vibrate-3-normal {0% { transform: translate(0); } 10% { transform: translate(-2px, -2px); } 20% { transform: translate(2px, -2px); } 30% { transform: translate(-2px, 2px); } 40% { transform: translate(2px, 2px); } 50% { transform: translate(-2px, -2px); } 60% { transform: translate(2px, -2px); } 70% { transform: translate(-2px, 2px); } 80% { transform: translate(-2px, -2px); } 90% { transform: translate(2px, -2px); } 100% { transform: translate(0);} }

.vibrate-3-normal { 
    animation: vibrate-3-normal 1s ease 0s 1 normal none; 
}


/* ----------------------------------------------
* Generated by Gradienty on 2025-12-06 18:27
* animation shake-lr-normal
* ----------------------------------------
*/
  @keyframes shake-lr-normal {0%, 100% { transform: rotate(0deg); transform-origin: 50% 50%; } 10% { transform: rotate(8deg); } 20%, 40%, 60% { transform: rotate(-10deg); } 30%, 50%, 70% { transform: rotate(10deg); } 80% { transform: rotate(-8deg); } 90% { transform: rotate(8deg);} }

.shake-lr-normal { 
    animation: shake-lr-normal 1s ease 0s 1 normal none; 
}


/* ----------------------------------------------
* Generated by Gradienty on 2025-12-06 18:29
* animation ping-normal
* ----------------------------------------
*/
  @keyframes ping-normal {0% { transform: scale(1.5); opacity: 0.5; } 80% { transform: scale(4.2); opacity: 0.3; } 100% { transform: scale(0.2); opacity: 0;} }

.ping-normal { 
    animation: ping-normal 1s ease 0s 1 normal none; 

}



