@keyframes titleIntro {
  0% { opacity: 0; transform: scale(0.2); }
 100% { opacity: 1; transform: scale(1); }
}

@keyframes btnIntro {
  0% { opacity: 0; transform: translateY(20px); }
 100% { opacity: 1; transform: translateY(0); }
}